// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	margin: auto;
}

td {
	align: "center";
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#dialog-comments {
	display: none;
}

#commentInput {
	width: 100%;
	height: 100%;
}

table {
	width: 500px;
}

input {
    width: 300px;
    height: 60px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    word-break: break-word;
}

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }